<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
          </ion-buttons>
      <ion-title>{{ PlanningApplication?.properties?.Planning_Reference }} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div >

  </div>
  <ion-text>
    <h4> </h4>
  </ion-text>
  <ion-item detail="false" no-padding mode='md'>
    <ion-icon item-start name="pin"></ion-icon>
    <p> </p>
  </ion-item>

  <ion-text>
    <p>

    </p>
  </ion-text>
  </ion-content>
